.App {
  text-align: left;
  background-color: #000000;
  min-height: 100vh;
  color: white;
}

.App-logo {
  height: 6em;
  pointer-events: none;
}


.container {
  margin-left: 3%;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.contain {
  position: relative;

}

.image {
  display: block;
  width: 100%;
  height: auto;
  display:inline-block;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 9%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
  
}

.contain:hover .overlay {
  opacity: 0.8;
}

.text {
  color: white;
  font-size: 20px;
  top: 50%;
  text-align: center;
}

.icon-title {
  text-indent: 1em;
}

.disappear {
  display: none !important;
}